.profileContainer { 
  display: flex;
  flex-direction: row ;
  justify-content: center;
  height: fit-content;
  padding-bottom: 20px;
  
  .gridContainer {
    padding-left: 20px;
    padding-right: 20px;

    .sectionTitle {
      // background: -webkit-linear-gradient(45deg, #553c9a, #ee4b2b);
      background: linear-gradient(45deg, #553c9a, #ee4b2b);
      font-size: 25px;
      font-weight: bold;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    .cardSubTitle {
      display: flex;
      color: rgba(60, 60, 67, 0.3);
      font-size: 30px;
      font-weight: 500;
      flex-direction: row;
      width: 100%;
      align-items: end;
      justify-content: center;
    }

    .icon {
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
      color:red
    }
  }
  .cardContainer {
    background-color: white;
    width: auto;
    display: flex;
    margin-bottom: 500px;
    height: fit-content;
    margin: 0px;
    justify-content: start;
    text-align: center;
    align-items: start;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    flex-direction: column;
    overflow: auto;
    
    .readme {
      padding-left: 100px;
      text-align: left;
    }
  }
}