@font-face {
  font-family: SFUIText;
  src: url(../assets/fonts/SFUIText-Regular.otf) format("opentype");
}

@font-face {
  font-family: SFUIDisplay;
  src: url(../assets/fonts/SFUIDisplay-Regular.otf) format("opentype");
}

.bodyContainer {
  display: flex;
  font-family: SFUIText SFUIDisplay;
  font-weight: 300;
  margin: 0px;
  background-color: #eee;
  height: 100vh;

  .navBarContainer{
    margin-bottom: 70px;
  }

  .contentContainer {
    height: calc(100vh - 90px);
    overflow: auto;

    // .cardContainer{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    //   // background-color: red;
    //   // align-items: center;
    //   margin: 10px;
    //   height: 100%;
      
    // }
  }

  .cardContainer {
    background-color: white;
    width: auto;
    display: flex;
    margin-bottom: 500px;
    height: fit-content;
    margin: 0px;
    justify-content: start;
    text-align: center;
    align-items: start;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    flex-direction: column;
    overflow: auto;
  }
  
  .sideBarContainer{
    margin: 0px;
    padding: 0px;
  }
}
